<html>
  <body>
    <b>Referência</b> <br> <a href="https://developers.google.com/appengine/docs/python/gettingstarted/templates">https://developers.google.com/appengine/docs/python/gettingstarted/templates</a>  <br>
    <pre>
    	{{ message }}
    </pre>
    <hr>
    <b>import_from:</b> <br>
    {{ import_from }}
    <hr>

    <b>method:</b> <br>
    {{ method_to_call }}
    <hr>

    <b>template:</b> <br>
    {{ template_file }}
    <hr>

    <b>a:</b> <br> 
    {{a}} 
    <hr>


  </body>
</html>